/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i');

.reveal {
	font-family: 'Montserrat', sans-serif;
}

/* Remove image borders */
.reveal section img {
	border: 0;
	box-shadow: none;
}

/* Small text */
.reveal section span.small {
	font-size: 0.8em;
}

/* Adjust logo size */
#gp-logo img {
	max-height: 1.5em;
}

/* Column support for slides */
.reveal div.columns {
	display: flex;
	justify-content: space-between;
}

/* Set width for two columns */
.reveal div.columns div {
	width: 50%;
}

.reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	color: #84bd00;
}

.reveal section code {
    max-height: none;
}
